.error {
  font-size: 13px;
  color: red;
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error::after {
  content: "!";
  color: red;
  margin-left: 3px;
}
